
/**
 * @file
 * Toolbar CSS.
 *
 * Created by: Topsitemakers
 * http://www.topsitemakers.com/
 */

body.custom-menu-toolbar {
  padding-top: 40px;
}
#custom-menu-toolbar,
#custom-menu-toolbar * {
  letter-spacing: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#custom-menu-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  z-index: 999;
}
#custom-menu-toolbar a {
  float: left;
  line-height: 20px;
  padding: 10px 12px;
  width: 100%;
}
#custom-menu-toolbar a,
#custom-menu-toolbar a:focus,
#custom-menu-toolbar a:hover,
#custom-menu-toolbar a:active,
#custom-menu-toolbar a:visited {
  color: inherit;
  text-decoration: none;
}
#custom-menu-toolbar ul,
#custom-menu-toolbar li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  width: 100%;
  border: 0;
}
#custom-menu-toolbar a.active,
#custom-menu-toolbar a.active-trail,
#custom-menu-toolbar li.active-trail {
  border: 0;
}
#custom-menu-toolbar li li.expanded > a:after {
  font-family: Verdana;
  font-size: 16px;
  content: "›";
}
#custom-menu-toolbar > ul {
  width: 100%;
}
@media (min-width: 980px) {
  #custom-menu-toolbar li:hover > ul {
    display: block;
  }
  #custom-menu-toolbar > ul > li {
    width: auto;
  }
  #custom-menu-toolbar li ul {
    display: none;
    width: 15em;
    position: absolute;
  }
  #custom-menu-toolbar > ul > li > ul {
    top: 40px;
  }
  #custom-menu-toolbar li ul li ul {
    position: absolute;
    left: 15em;
    top: 1em;
  }
  #custom-menu-toolbar li li.expanded > a:after {
    float: right;
  }
}
/* Mobile toggle. */
#custom-menu-toolbar-toggle {
  width: auto;
  display: none;
}
@media (max-width: 979px) {
  #custom-menu-toolbar #custom-menu-toolbar-toggle {
    padding-top: 0;
    padding-bottom: 0;
  }
  #custom-menu-toolbar:not(.open) > .menu {
    display: none;
  }
  #custom-menu-toolbar-toggle {
    display: block;
    cursor: pointer;
  }
  #custom-menu-toolbar-toggle-text,
  #custom-menu-toolbar-toggle-stripes {
    width: auto;
    display: block;
    float: right;
  }
  #custom-menu-toolbar-toggle-text {
    font-size: 18px;
    line-height: 40px;
  }
  #custom-menu-toolbar-toggle-stripes {
    width: 20px;
    margin: 12px 0 0 10px;
  }
  #custom-menu-toolbar-toggle-stripes i {
    float: left;
    width: 100%;
    height: 3px;
    background: #FFF;
    margin: 0 0 3px 0;
  }
  #custom-menu-toolbar ul ul {
    padding-left: 1em;
  }
  #custom-menu-toolbar ul:not(.open) ul {
    display: none;
  }
  #custom-menu-toolbar li.expanded > a:after {
    padding-left: 10px;
  }
}
@media print {
  #custom-menu-toolbar {
    display: none!important;
  }
  body.custom-menu-toolbar {
    margin-top: 0!important;
  }
}
