.campaignion-manage-bulkops {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 501;
  background-color: rgba(0,0,0,0.3);
  display: none; /* show using js */

  &:after {
    content: '';
    display: block;
    height: 100px;
  }
  .bulk-dialog {
    top: 100px;
    left: 15%;
    width: 70%;
    margin-bottom: 100px;

    .bulkops-radios {
      input {
        position: absolute;
        left: -9999px;
      }
    }
  }
  #bulk-dialog-close {
    position: absolute;
    float: right;
    right: 5px;
    top: 5px;
    text-indent: -99999px;
    width: 30px;
    height: 30px;
    background-image: url(../img/x_beige.png);
    &:hover, &:active {
      cursor: pointer;
    }
  }
  .bulkops-ops {
    fieldset {
      display: none;
    }
  }
  .bulkops-radios {
    label.option {
      border: 1px solid #dad5cd;
      padding: 0.5em 2% 0.5em 2%;
      width: 96%;
      display: block;
      background-color: #e3dfd7;
      color: #777470;
      font-weight: bold;
      font-size: 1em;
      border-radius: 5px;
      &.active {
        background-color: #c3bfb7;
        &:hover, &:active {
          background-color: #D0CCC4;
        }
      }
      &:hover, &:active {
        cursor: pointer;
        background-color: #f3efe7;
      }
    }
    .bulk-question-mark {
      width: 32px;
      height: 32px;
      right: 0px;
      top: 0px;
      display: block;
      position: absolute;
      color: #dad5cd;
      border: 1px solid #dad5cd;
      background-color: #fff;
      text-align: center;
      border-radius: 20px;
      line-height: 32px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  div.bulkops-radios {
    // width: 50%;
    position: relative;
    width: 48%;
    float: left;
    clear: left;

    .form-type-radio {
      padding-right: 50px;
    }
    .popover {
      width: 90%;
      max-width: 100%;
    }
  }
}
