/* Node edit form */
.easychart-wrapper {
  border: 1px solid #e1e2dc;
  margin: 1em 0;
}

.ec .form-item {
  padding: 0;
}

/* Fullscreen */
.easychart-header {
  background: #333;
  color: #fff;
}

.easychart-header .toggle {
  padding: 3px 10px 0px 30px;
  display: inline-block;
  background: url(../images/icon-fullscreen.png) no-repeat 10px 7px;
  background-size: 12px auto;
  cursor: pointer;
}

.easychart-wrapper:-moz-full-screen {
  background: #f5f5f5;
  overflow: scroll;
}

.easychart-wrapper:-webkit-full-screen {
  background: #f5f5f5;
  overflow: scroll;
  position: fixed;
  width: 100%;
  top: 0;
}

.easychart-wrapper:-ms-fullscreen {
  background: #f5f5f5;
  overflow: scroll;
  width: auto;
  height: auto;
  margin: auto;
}

.easychart-wrapper:fullscreen {
  background: #f5f5f5;
  overflow: scroll;
}
