.webform-country-table .country-list-table-header {
  padding: 4px 9px;
}

.webform-country-table .country-list-label-available {
  float: left;
  margin-left: 2%;
  width: 15%;
}

.webform-country-table .country-list-label-code {
  float: left;
  width: 20%;
}

.webform-country-table .country-list-label-country {
  float: left;
  width: 20%;
  margin-left: 20%;
}

.webform-country-table .country-list-available,
.webform-country-table .form-type-checkbox {
  float: left;
  width: 17%;
}

.webform-country-table .country-list-code {
  float: left;
  width: 20%;
}

.webform-country-table .country-list-country {
  margin-left: 20%;
  width: 40%;
}
