.bx-wrapper .bx-pager {
  bottom: -95px;
}

.bx-wrapper .bx-pager a {
  border: solid #ccc 1px;
  display: block;
  margin: 0 5px;
  padding: 3px;
}

.bx-wrapper .bx-pager a:hover,
.bx-wrapper .bx-pager a.active {
  border: solid #5280dd 1px;
}

.bx-wrapper {
  margin-bottom: 120px;
}
