/* Node */

h1.node-edit-title {
  margin-left: 0px;
  margin-right: 0px;
}

#node-edit {
  .form-item-field-featured-image-und-0-title {
    label {
      font-weight: normal;
      float: left;
      margin: 4px 10px 0 0;
    }
  }
  .form-item-field-archived-content-und {
    margin-top: 0px;
  }
  #edit-field-featured-image-und-0-title {
    width: 180px;
    label {
      font-weight: normal;
      float: left;
      margin: 4px 10px 0 0;
    }
  }
}

.page-node-revisions {
  div {
    img.wetkit-image-half  {
      float: none;
      width: auto;
    }
  }
}

.pane-node-form-path .form-item .description {
  display: none;
}
