/**
 * @file navbar.menu-rtl.css
 */
#navbar-administration .navbar-tray-vertical .navbar-handle + .navbar-menu-item {
  margin-left: 3em;
  margin-right: 0;
}
#navbar-administration .navbar-icon.navbar-handle {
  left: 0;
  right: auto;
}
.navbar-tray-horizontal .navbar-menu-administration ul a {
  padding:0 35px 0 15px !important;
}
.navbar-tray-horizontal .navbar-menu-administration ul ul ul {
  left: auto !important;
  right:100% !important;
}
.navbar-tray-horizontal .navbar-menu-administration ul ul {
  left: auto !important;
  right:0 !important;
}
.navbar-tray-horizontal .navbar-menu-administration ul li {
  float:right !important;
}
.navbar-tray-horizontal .navbar-menu-administration ul {
  float:right !important;
}
.navbar-tray-horizontal .navbar-menu-administration .navbar-menu .navbar-menu .navbar-icon.navbar-handle:before {
  background-image: url("../icons/bebebe/chevron-disc-left.svg") !important;
}

.navbar-tray-horizontal .navbar-menu-administration .navbar-menu .navbar-menu .navbar-icon.navbar-handle:before {
  background-image: url("../icons/bebebe/chevron-disc-left.png") !important;
}
