i.better_search {
  background: url("images/search-icon.svg") center center no-repeat;
  height: 1em;
  width: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}

#search-block-form {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.form-item-search-block-form input {
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: right;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

#search-block-form .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.form-item-search-block-form input:-webkit-input-placeholder {
  color: #65737e;
}
  
.form-item-search-block-form input:-moz-placeholder {
  color: #65737e;
}
 
.form-item-search-block-form input:-ms-input-placeholder {
  color: #65737e;
}
