/* =============================================================================
   Views
   ========================================================================== */

.views-displays .secondary .active a,
.views-displays .secondary .active a:hover {
  border-color: #008fdc;
}

.views-displays .views-display-settings {
  clear: both;
  margin-top: 4em;
  .ctools-dropbutton-wrapper {
    position: relative;
    min-height: initial;
  }
}

.views-ui-display-tab-actions .ctools-button-processed input {
  color: #008fdc;
}

.views-ui-dialog #views-ajax-title {
  background: #2fa6e5;
}

.views-ui-dialog .form-wrapper {
  fieldset {
    padding-left: 1.5em;
  }
  .collapsed {
    height: auto;
    margin-bottom: 0em;
    legend {
      margin-bottom: 0px;
    }
  }
}

.views-exposed-form {
  .views-exposed-widget {
    overflow: hidden;
  }
}

.views-ui-dialog #edit-selected {
  display: block;
  position: relative;
  padding: 0px 16px 30px 30px;
}

.views-ui-dialog .scroll {
  padding: 0em 2em 3em;
}

.views-ui-dialog #views-filterable-options-controls {
  padding-top: 0px;
}

#views-ui-preview-form > div > div#preview-submit-wrapper {
  margin: 0em .5em 0 0;
}

.page-admin-structure-views {
  .ui-widget-overlay {
    position: fixed;
  }
}
