/* CTools */

#modalContent {
  div.ctools-modal-content {
    .modal-header{
      background: #2fa6e5;
    }
    .modal-title {
      color: #fff;
      font: bold 20px/50px 'Open Sans','Lucida Sans','Lucida Grande', Verdana, sans-serif;
      text-shadow: none;
      padding: 0;
    }
  }
}

#modal-content {
  .form-type-radios.form-item-display-options {
    margin: 0px;
    padding: 0px;
    text-align: left;
    background-color: #FFF;
  }
  .form-submit {
    float: left;
  }
  .form-actions {
    width: auto;
  }
  form-wrapper.form-actions {
    border: none;
    background: none;
  }
}

.ctools-collapsible-container {
  h2 {
    background: #eee;
    padding: 5px;
    margin-bottom: 0;
    color: #000 !important;
    font-size: 14px;
    font-weight: normal;
    @include border-top-radius(5px); }
  .ctools-toggle-collapsed, .ctools-toggle {
    margin-top: 5px;
  }
  .page-node-edit fieldset {
    margin-top: 0;
  }
}

.ctools-collapsible-content .form-item {
  margin-bottom: 0em;
}
