/** Stylesheet for WetKit Bean */
.region-pearson-top .wet-boew-share a { font-size: 12px; font-weight: 400; }
.region-pearson-top .wet-boew-share h2 { margin: 0px; }

#slide-panel {
    width: 250px;
    float: right;
    height: 300px;
    padding: 10px;
    background: #eee;
    margin-right: -250px;
    position: fixed;
    right: 0;
    top: 250px;
    z-index: 999;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#opener {
    float:left;
    margin:-11px 0px 0px -52px;
    border-radius:0;
    border-right: none;
}
