#auth_box {
  width: 300px;
  margin: 0 auto;
  padding: 50px 0 0;
  font-family: sans-serif;
}

#auth_box h1#the_logo {
  text-align: center;
  margin: 0;
  padding: 0 0 25px;
}
#auth_box h1#the_logo img {
  max-width: 250px;
}
#auth_box h2.title {
  margin: 0;
  padding: 0 0 15px;
  font-size: 2em;
}
#auth_box input[type="text"],
#auth_box input[type="password"] {
  width: 260px;
  border: 1px #ccc solid;
  border-radius: 3px;
  padding: 5px;
  font-size: 15px;
}

#auth_box input[type="submit"] {
  float: right;
}

#auth_box #middle_part {
  border-radius: 3px;
  background: #fff;
  padding: 15px;
  overflow: hidden;
  box-shadow: 0 0 3px 1px #ccc;
}

#auth_box .back_link {
  padding: 15px 0 0;
}

#auth_box #bottom_part {
  font-size: 13px;
  padding: 15px 0 0;
}
