/**
 * Media browser styles.
 */
.ui-dialog.media-wrapper {
  padding: 0.6em;
  z-index: 9999;
  background: none;
}
.ui-dialog.media-wrapper .ui-dialog-titlebar {
  background: none;
  border: none;
}
.ui-dialog.media-wrapper #ui-dialog-title-mediaBrowser {
  display: none;
}
.ui-dialog.media-wrapper iframe {
  margin-top: 1em;
  margin-bottom: 0;
}
.media-wrapper .ui-dialog-buttonpane {
  display: none;
}
.media-wrapper .ui-dialog-titlebar button.ui-button {
  height: 18px;
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: -9999px;
  float: right;
}
.media-wrapper .ui-dialog-titlebar button.ui-dialog-titlebar-close {
  background: none;
  border: none;
}

/**
 * Media bulk-upload styles.
 */
.media-bulk-asset {
  float:left;
  width: 100%;
  margin-bottom:20px;
}

.media-bulk-asset .media-bulk-upload-image-header {
  float:left;
  margin-right:15px;
}

.media-bulk-asset .file-form {
  float:left;
  max-width:65em;
  background: #fff;
  padding:10px 20px;
  border:1px solid #aaa;
}

.media-wrapper .ui-state-default .ui-icon-closethick {
  background: url(../images/F05A27/x_F05A27.png) no-repeat right top;
  width: 24px;
  height: 24px;
}

#media-browser-page-wrapper #media-browser-tabset #branding {
  background-color: #555555;
  height: 114px;
}

#media-browser-page-wrapper #media-browser-tabset .media-browser-tab {
  padding: 0em !important;
}

#media-browser-page-wrapper #media-browser-tabset #branding #media-tabs-wrapper ul.tabs.primary {
  margin: 0em 0em !important;
}
