.field-widget-multiselect {
}

.multiselect_labels .label_selected {
  margin-left: 145px;
  margin-right: 0;
  float: left;
}

.multiselect_labels .label_unselected {
  float: right;
}

.form-item.form-type-select.form-item-field-categorize-und {
  padding: 0;
}

.multiselect_available {
  float: right;
}

.multiselect_labels {
  clear: both;
}

.block ul.multiselect_btns {
  float: right;
  margin: 1em 0 0 1em;
}
.multiselect_add a {
    background: url("images/add-rtl.png") no-repeat scroll 0 0 transparent;
}

li.multiselect_remove a {
    background: url("images/remove-rtl.png") no-repeat scroll 0 0 transparent;
}

