<!-- Copy and rename to phpunit.xml. Customize as needed. -->
<phpunit backupGlobals="false"
    backupStaticAttributes="false">

<filter>
  <whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">.</directory>
    <directory suffix=".inc">.</directory>
    <directory suffix=".module">.</directory>
    <exclude>
      <directory suffix="Drupal.php">.</directory>
      <directory suffix="Test.php">.</directory>
      <directory suffix=".api.php">.</directory>
      <directory suffix=".tpl.php">.</directory>
      <directory suffix=".features.inc">.</directory>
      <directory suffix=".features.field_base.inc">.</directory>
      <directory suffix=".features.field_instance.inc">.</directory>
      <directory suffix=".features.filter.inc">.</directory>
      <directory suffix=".features.taxonomy.inc">.</directory>
      <directory suffix=".features.uuid_term.inc">.</directory>
      <directory suffix=".field_group.inc">.</directory>
      <directory suffix=".strongarm.inc">.</directory>
    </exclude>
  </whitelist>
</filter>
</phpunit>
