core = 7.x
api  = 2

libraries[jquery.placeholder][type] = "libraries"
libraries[jquery.placeholder][download][type] = "file"
libraries[jquery.placeholder][download][url] = "https://github.com/mathiasbynens/jquery-placeholder/archive/v2.0.8.zip"
