/**
 * @file
 * Stylesheets for the PowerTagging module for the backend.
 */

/* =============================================================================
 *   Batch jobs
 * ========================================================================== */

fieldset#edit-batch-jobs .ui-progressbar {
    position: relative;
}

fieldset#edit-batch-jobs .powertagging-progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

fieldset#edit-overwriting .fieldset-description {
    margin-bottom: 10px;
}

/* =============================================================================
 *   Tags
 * ========================================================================== */

.field-type-powertagging fieldset label {
    color: #1196d1;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.powertagging-extracted-tags .powertagging-extracted-tags-area {
    margin: 0px;
    padding-bottom: 10px;
}

.powertagging-extracted-tags .powertagging-extraction-label {
    font-weight: bold;
    color: #666;
    border-bottom: 1px solid #CCC;
    margin: 10px 0 3px;
}

.field-type-powertagging fieldset ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.field-type-powertagging fieldset li {
    list-style-type:none;
    padding:0;
    margin: 8px 5px 0 0;
    display: inline-block;
}

.field-type-powertagging fieldset li div {
    padding: 1px 10px;
    border-radius: 5px;
    font-size: 88%;
    color: #5c5c5c;
}

.field-type-powertagging fieldset li .concept,
.concept .ui-slider-range,
.field-type-powertagging #powertagging-legend-item-colorbox-concept {
    background: #c3e2f7;
}

.field-type-powertagging fieldset li .freeterm,
.freeterm .ui-slider-range,
.field-type-powertagging #powertagging-legend-item-colorbox-freeterm {
    background: #fff199;
}

.field-type-powertagging fieldset li .concept.disabled,
.field-type-powertagging fieldset li .freeterm.disabled,
.field-type-powertagging #powertagging-legend-item-colorbox-disabled {
    background: #cccccc;
}

.powertagging-extracted-tags li div.powertagging-tag.concept:hover,
.powertagging-extracted-tags li div.powertagging-tag.concept:focus {
    cursor: pointer;
}

.powertagging-extracted-tags li div.powertagging-tag.freeterm:hover,
.powertagging-extracted-tags li div.powertagging-tag.freeterm:focus {
    cursor: pointer;
}

.field-type-powertagging fieldset .powertagging-tag-result li .concept {
    background: url("../images/remove11.svg") top 6px right 4px no-repeat #c3e2f7;
    background-size:18px auto;
    padding: 1px 23px 1px 10px;
}

.field-type-powertagging fieldset .powertagging-tag-result li .concept:hover,
.field-type-powertagging fieldset .powertagging-tag-result li .concept:focus {
    background: url("../images/remove11.svg") top 6px right 4px no-repeat #ccc;
    background-size:18px auto;
    cursor: pointer;
    padding: 1px 23px 1px 10px;
}

.field-type-powertagging fieldset .powertagging-tag-result li .freeterm {
    background: url("../images/remove11.svg") top 6px right 4px no-repeat #fff199;
    background-size:18px auto;
    padding: 1px 23px 1px 10px;
}

.field-type-powertagging fieldset .powertagging-tag-result li .freeterm:hover,
.field-type-powertagging fieldset .powertagging-tag-result li .freeterm:focus {
    background: url("../images/remove11.svg") top 6px right 4px no-repeat #ccc;
    background-size:18px auto;
    cursor: pointer;
    padding: 1px 23px 1px 10px;
}

.field-type-powertagging .ui-autocomplete-loading {
    background: url('../images/throbber.gif') no-repeat scroll right -18px transparent;
}

.field-type-powertagging .throbber {
    padding-left: 20px;
}

.field-type-powertagging .powertagging-legend {
    float: right;
}

.field-type-powertagging .powertagging-legend-item {
    float: left;
    margin-right: 10px;
}

.field-type-powertagging .powertagging-legend-item-colorbox {
    margin-right: 5px;
    width: 15px;
    min-width: 15px;
    height: 15px;
    border: 1px solid #CCC;
    display: inline-block;
    border-radius: 5px;
}

.field-type-powertagging .form-type-textfield {
    clear:both;
}

.field-widget-powertagging-invisible {
    display: none;
}

