/* transparent bg for popup dialogs */
.campaignion-dialog-wrapper {
  background: url(../img/transparent_gray.png) repeat top left transparent;
  position: fixed;
  opacity: 0.75;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 400;
  display: none;
}
