.powertagging-similar-widget-accordion .ui-accordion-header{
	background: none;
	border:none;
	padding-left: 1em;
	color: #0099cc;
} 
.powertagging-similar-widget-accordion .ui-accordion-header .ui-icon {
    left: -5px;
    margin-top: -9px;
}
.powertagging-similar-widget-accordion .ui-accordion-content {
	background: none;
	padding:0.5em 0 0.5em 1em;
	margin:0;
	border:none;
	}

.powertagging-similar-widget-accordion a{
	color: #0099cc;
}