body {
  background: $body-background;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.glazed-boxed-container {
  margin: 0 auto;
  max-width: 1170px;
}

.container {
  padding-left: 60px;
  padding-right: 60px;
}

.navbar-container.glazed-fluid,
.page-title-container.glazed-fluid,
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

body.full-width-content {
  .main-container > .row,
  .main-container > .row > section,
  .main-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .main-container > .row > aside {
    display: none;
  }
}

.container-row .container-col {
  margin-bottom: 0; // Don't add defaulting margin to these structural columns
}

.region-sidebar-first .block,
.region-sidebar-second .block {
  margin-bottom: 30px;
}
#block-system-help {
  margin-bottom: 0;
}

.navbar {
  margin-bottom: 0;
}

// responsive image. This sometimes sucks because images cannot over overscan their base size to save bytes.
img {
  max-width: 100%; // can't remove this because then image will overflow parent elements.
}
// exception for revolution slider kenburns effect
html.js .kenburnimg img {
  max-width: none;
}

// NODES

.node {
  // margin-bottom: 30px;
  .submitted {
    margin-bottom: 30px;
    display: block;
    padding: 15px 0;
  }
  &.node-blog-node-teaser {
    .links {
      margin-top: -15px;
    }
  }
}

.node-teaser {
  margin-bottom: 30px;
}

// SLIDER REGION
.region-slider {
  .block {
    margin-bottom: 0;
  }
}

// FOOTER
.glazed-footer {
  background-color: $footer;
  color: $footer-text;
  border-color: $footer-text;
  .footer-container {
    padding-top: 15px;
    padding-bottom: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    color: $footer-text;
  }
  a {
    color: $footer-text;
    &:hover,
    &:focus {
      color: $footer-text;
    }
  }
  ul.contact-info {
    padding: 1em 0;
    li {
      background: none;
      padding: 0;
      font-size: 1.6em;
      line-height: 1.7em;
    }
  }
  .block {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .badge {
    font-size: 11px;
    font-weight: normal;
    opacity: 0.9;
  }
}

// STICKY FOOTER
// http://galengidman.com/2014/03/25/responsive-flexible-height-sticky-footers-in-css/
.html--glazed-sticky-footer {
  height: 100%;
  body {
    height: 100%;
    display: table;
    table-layout: fixed; //https://css-tricks.com/fixing-tables-long-strings/
    width: 100%;
  }
  #navbar,
  .wrap-containers,
  .glazed-footer {
    display: table-row;
    // height: 1px;
    min-height: 1px;
  }
  .wrap-containers {
    height: 100%;
  }
}
